@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/*Global*/
body, html {
  margin: 0;
  padding: 0;
}

* { 
  box-sizing: border-box; 
}

.IntroHeading {
  font-size: 60px;
  color: #1d6ff2;
  font-family: 'Outfit', sans-serif;
}

.PageDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;     
  height: 90vh;
}

.HeadingDiv {
  padding-top: 20px;
  padding-bottom: 20px;
}

.Link {
  font-size: 20px;
  color: #1d6ff2;
  font-family: 'Outfit', sans-serif;
  cursor: pointer;
}

.LinkDiv {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.FieldDiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.FieldInput {
  font-size: 20px;
  color: #1d6ff2;
  font-family: 'Outfit', sans-serif;
  border-radius: 10px;
  border: 2px solid #1d6ff2;
  box-sizing: border-box; 
  width: 250px;
}

.SubmitButton {
  font-size: 20px;
  color: white;
  font-family: 'Outfit', sans-serif;
  border-color: #1d6ff2;
  border-style: solid;
  background-color: #1d6ff2;
  border-radius: 10px;
  width: 100px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Button {
  font-size: 20px;
  font-family: 'Outfit', sans-serif;
  width: 150px;
  border: #1d6ff2;
  border-style: solid;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  cursor: pointer;
  background-color: #1d6ff2;
}

.Button:hover, .SubmitButton:hover {
  transform: scale(1.02);
}

span {
  color: red;
  font-size: 20px;
  font-family: 'Outfit', sans-serif;
}

.Label {
  font-size: 20px;
  color: #1d6ff2;
  font-family: 'Outfit', sans-serif;
}

/*App*/
.App {
  text-align: center;
}

/*App Bar*/
/*Desktop view*/
.NavBar {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: space-between; 
  background-color: #1d6ff2;
  padding: 0 20px; 
}

/* Reset the flex behavior for children to ensure they don't collapse */
.NavBar > div {
  display: flex;
  align-items: center;
  flex: 1;
}

/* Middle title container */
.NavBar > div:nth-child(2) {
  justify-content: center;
}

.NavBar > div:nth-child(3) {
  flex: 1;
  display: flex;             
  justify-content: flex-end; 
  text-align: right;
}

.AppBarHeading {
  font-size: 60px;
  color: white;
  font-family: 'Outfit', sans-serif;
  padding-bottom: 20px;
  padding-top: 20px;
}

.AppBarUser {
  font-size: 30px;
  color: white;
  font-family: 'Outfit', sans-serif;
}

.LogoutImg {
  cursor: pointer;
  box-sizing: content-box;
}

/*Mobile View*/
@media (max-width: 768px) {
  .NavBar { 
    min-height: 70px; 
  }

  .AppBarHeading {
    font-size: 28px;
    margin: 0;
  }

  .AppBarUser {
    display: none;
  }
}

